.DS_Store
*.bak
*-bak
*gerber*
_autosave-*
panel
fp-info-cache
*-rescue.dcm
*-rescue.lib
*bom*.txt
*.kicad_prl

*.bit
*.config
*.json
obj_dir
*.vcd

*.lck

*.zip
!hardware/*/production/*.zip

private
