[submodule "hardware/v1.0/libraries/certification-mark"]
	path = hardware/v1.0/libraries/certification-mark
	url = https://github.com/oshwa/certification-mark/
[submodule "hardware/v1.1/libraries/certification-mark"]
	path = hardware/v1.1/libraries/certification-mark
	url = https://github.com/oshwa/certification-mark/
[submodule "hardware/v1.2/libraries/certification-mark"]
	path = hardware/v1.2/libraries/certification-mark
	url = https://github.com/oshwa/certification-mark/
